{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container mt-4">

    <!-- Encabezado -->
    <h2 class="text-center mb-4 p-2 rounded shadow-sm" 
        style="background-color: #831f46; color: white; font-weight: bold;">
        REPORTE DE CHAMIZAL
    </h2>

    <form method="post" class="bg-light p-4 rounded shadow-sm" data-form-name="chamizal" enctype="multipart/form-data" onsubmit="return ValidaSuperficieAtendida();">
        {% csrf_token %}

        <!-- Datos Generales -->
        <fieldset class="border rounded p-3 mb-4">
            <legend class="fw-bold text-white px-3 py-1 rounded" 
                    style="background-color: #831f46; font-size: 1rem;">
                Datos Generales
            </legend>
            <div class="row g-3">
                <div class="col-md-4">
                    {{ form.distrito.label_tag}}
                    {{ form.distrito }}
                </div>
                <div class="col-md-4">
                    {{ form.dia.label_tag }}
                    {{ form.dia }}
                </div>
                <div class="col-md-4">
                    {{ form.fecha.label_tag }}
                    {{ form.fecha }}
                </div>
            </div>
        </fieldset>

        <!-- Trabajo -->
        <fieldset class="border rounded p-3 mb-4">
            <legend class="fw-bold text-white px-3 py-1 rounded" 
                    style="background-color: #831f46; font-size: 1rem;">
                Tipo de Trabajo
            </legend>
            <div class="row g-3 ">
                <div class="col-md-4">
                    {{ form.trabajo_diario.label_tag}}
                    {{ form.trabajo_diario }}
                </div>
                <div class="col-md-4">
                    {{ form.trabajo_ciudadania.label_tag }}
                    {{ form.trabajo_ciudadania }}
                </div>
                <div class="col-md-4">
                    {{ form.operativo_especial.label_tag }}
                    {{ form.operativo_especial }}
                </div>
            </div>
            <div class="row g-12 mt-2 mx-1" id="operativo-comentarios">
                Especifique el lugar del operativo {{ form.operativo_comentarios }}
            </div>
        </fieldset>

        <div class="row g-4 logica-seleccion">
            <!-- Parte izquierda -->
            <fieldset class="border rounded p-3 col-md-6">
                <div class="mb-3">
                    {{ form.coordinador.label_tag }}
                    {{ form.coordinador }}
                </div>
                <div class="mb-3">
                    {{ form.encargado_cuadrilla.label_tag }}
                    {{ form.encargado_cuadrilla }}
                </div>

                <legend class="fw-bold text-white px-3 py-1 rounded text-center" 
                        style="background-color: #831f46; font-size: 1rem;">
                    Tipo de Área Atendida
                </legend>

                <div class="row g-3" id="list-checkboxes">
                    <div class="col-md-12">
                        <div class="row align-items-center">
                            <div class="col-6">
                                {{ form.parque_chamizal.label }}
                            </div>
                            <div class="col-6 text-center">
                                {{ form.parque_chamizal }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row align-items-center">
                            <div class="col-6">
                                {{ form.hoyos.label_tag }}
                            </div>
                            <div class="col-6 text-center">
                                {{ form.hoyos }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row align-items-center">
                            <div class="col-6">
                                {{ form.camellones.label_tag }}
                            </div>
                            <div class="col-6 text-center">
                                {{ form.camellones }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row align-items-center">
                            <div class="col-6">
                                {{ form.camellones.label_tag }}
                            </div>
                            <div class="col-6 text-center">
                                {{ form.camellones }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row align-items-center">
                            <div class="col-6 d-flex align-items-center">
                                {{ form.otros.label_tag }}
                                <div class="ms-2 flex-grow-1">
                                    {{ form.otros }}
                                </div>
                            </div>
                            <div class="col-6 text-center">
                                {{ form.otros_bool }}
                            </div>
                        </div>
                    </div>
                </div>
                    <legend class="fw-bold text-white mt-2 px-3 py-1 rounded text-center" style="background-color: #831f46; font-size: 1rem;">
                        Actividades Realizadas
                    </legend>
                    <div class="row g-3">
                        <div class="col-md-4">{{ form.superficie_atendida_m2.label_tag }} {{ form.superficie_atendida_m2 }}</div>
                        <div class="col-md-4">{{ form.cesped_cortado_m2.label_tag }} {{ form.cesped_cortado_m2 }}</div>
                        <div class="col-md-4">{{ form.deshierbe_m2.label_tag }} {{ form.deshierbe_m2 }}</div>

                        <div class="col-md-4">{{ form.arboles_plantados.label_tag }} {{ form.arboles_plantados }}</div>
                        <div class="col-md-4">{{ form.arboles_podados.label_tag }} {{ form.arboles_podados }}</div>
                        <div class="col-md-4">{{ form.arboles_retirados.label_tag }} {{ form.arboles_retirados }}</div>

                        <div class="col-md-4">{{ form.zacate_basura_kilos.label_tag }} {{ form.zacate_basura_kilos }}</div>
                        <div class="col-md-4">{{ form.papeleo_m2.label_tag }} {{ form.papeleo_m2 }}</div>
                        <div class="col-md-4">{{ form.personal_trabajo.label_tag }} {{ form.personal_trabajo }}</div>
                    </div>

                </fieldset>

            <!-- Parte derecha -->
            <fieldset class="border rounded p-3 mb-3 col-md-6">
                <legend class="fw-bold text-white px-3 py-1 rounded text-center" 
                        style="background-color: #831f46; font-size: 1rem;">
                    Reporte
                </legend>
                <div class="mb-3">
                    <label class="form-label">Número de Reporte</label>
                    <div class="mb-3">{{ form.folio_pac }}</div>
                </div>
                <div class="mb-3">{{ form.trabajo_realizado.label_tag }} {{ form.trabajo_realizado }}</div>
                <div class="mb-3">{{ form.pendientes.label_tag }} {{ form.pendientes }}</div>
                <div class="mb-3">{{ form.observaciones.label_tag }} {{ form.observaciones }}</div>
            </fieldset>
        </div>

        <!-- Ubicación -->
        <fieldset class="border rounded p-3 mb-3">
            <legend class="fw-bold text-white px-3 py-1 rounded text-center" 
                    style="background-color: #831f46; font-size: 1rem;">
                Ubicación del Área Trabajada
            </legend>
            <div class="row g-3">
                <div class="col-md-12">{{ form.ubicacion_area.label_tag }} {{ form.ubicacion_area }}</div>
            </div>
            <div class="row g-3 align-items-center my-2">
                <div class="col-md-3">{{ form.equipo_utilizado.label_tag }}</div>
                <div class="col-md-9">{{ form.equipo_utilizado }}</div>
            </div>
            <div class="row g-3 align-items-center my-2">
                <div class="col-md-3">{{ form.material_utilizado.label_tag }}</div>
                <div class="col-md-9">{{ form.material_utilizado }}</div>
            </div>
            <div class="row g-3 align-items-center my-2">
                <div class="col-md-3">{{ form.vehiculos_utilizados.label_tag }}</div>
                <div class="col-md-9">{{ form.vehiculos_utilizados }}</div>
            </div>
        </fieldset>

        <fieldset class="mb-4">
            <legend>Fotos del reporte</legend>
            <div class="row">
                <!-- Foto Antes -->
                <div class="col-md-6 mb-3">
                    <label for="id_foto_antes" class="form-label">Foto Antes</label>
                    <input type="file" name="foto_antes" id="id_foto_antes" class="form-control" accept="image/*" {% if not reporte.foto_antes %}required{% endif %}>
                    <div class="mt-2">
                        {% if reporte.foto_antes %}
                            <img id="preview_antes" src="{{ reporte.foto_antes.url }}" alt="Vista previa" style="max-width: 100%; height: 500px; display: block;">
                        {% else %}
                            <img id="preview_antes" src="" alt="Vista previa" style="max-width: 100%; height: 500px; display: none;">
                        {% endif %}
                    </div>
                </div>

                <!-- Foto Después -->
                <div class="col-md-6 mb-3">
                    <label for="id_foto_despues" class="form-label">Foto Después</label>
                    <input type="file" name="foto_despues" id="id_foto_despues" class="form-control" accept="image/*" {% if not reporte.foto_despues %}required{% endif %}>
                    <div class="mt-2">
                        {% if reporte.foto_despues %}
                            <img id="preview_despues" src="{{ reporte.foto_despues.url }}" alt="Vista previa" style="max-width: 100%; height: 500px; display: block;">
                        {% else %}
                            <img id="preview_despues" src="" alt="Vista previa" style="max-width: 100%; height: 500px; display: none;">
                        {% endif %}
                    </div>
                </div>
            </div>
        </fieldset>

        <!-- Botón -->
        <div class="text-center">
            <button type="submit" class="btn btn-lg px-5" 
                    style="background-color: #831f46; color: white; font-weight: bold;">
                Guardar Reporte
            </button>
        </div>

        {% include 'btn-subir-off.html' %}
    </form>
</div>
<script src="{% static 'js/checkboxes.js' %}"></script>
<script src="{% static 'js/chamizal.js' %}"></script>
{% endblock %}

