{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container mt-4">

    <!-- Encabezado -->
    <h2 class="text-center mb-4 p-2 rounded shadow-sm" 
        style="background-color: #831f46; color: white; font-weight: bold;">
        REPORTE DIARIO DE PIPAS
    </h2>

    <form method="post" class="bg-light p-4 rounded shadow-sm" data-form-name="riego_pipa" enctype="multipart/form-data">
        {% csrf_token %}

        <!-- Datos Generales -->
        <fieldset class="border rounded p-3 mb-4">
            <legend class="fw-bold text-white px-3 py-1 rounded" 
                    style="background-color: #831f46; font-size: 1rem;">
                Datos Generales
            </legend>
            <div class="row g-3">

                <div class="col-md-4">
                    {{ form.fecha.label_tag }}
                    {{ form.fecha }}
                </div>
                <div class="col-md-4">
                    {{ form.dia.label_tag }}
                    {{ form.dia }}
                </div>
                <div class="col-md-4">
                    <label class="form-label">Número de Reporte</label>
                    <div class="mb-3">{{ form.folio_pac }}</div>
                </div>

            </div>
            <div class="my-3">
                {{ form.nombre_chofer.label_tag }}
                {{ form.nombre_chofer }}
            </div>
            <div class="my-3">
                {{ form.nombre_ayudante.label_tag }}
                {{ form.nombre_ayudante }}
            </div>
            <div class="my-3">
                {{ form.engomado_vehiculo.label_tag }}
                {{ form.engomado_vehiculo }}
            </div>
            <div class="my-3">
                {{ form.hora_salida.label_tag }}
                {{ form.hora_salida }}
            </div>
            <div class="my-3">
                {{ form.hora_regreso.label_tag }}
                {{ form.hora_regreso }}
            </div>
            <div class="my-3">
                {{ form.lugar_riego.label_tag }}
                {{ form.lugar_riego }}
            </div>
        </fieldset>

        <!-- Ubicación -->
        <fieldset class="border rounded p-3 mb-4">
            <legend class="fw-bold text-white px-3 py-1 rounded text-center" 
                    style="background-color: #831f46; font-size: 1rem;">
                Ubicación del Área Trabajada
            </legend>
            <div class="row g-3">
                <div class="col-md-4">{{ form.colonia.label_tag }} {{ form.colonia }}</div>
                <div class="col-md-4">{{ form.calle1.label_tag }} {{ form.calle1 }}</div>
                <div class="col-md-4">{{ form.calle2.label_tag }} {{ form.calle2 }}</div>
            </div>

            <div class="row g-3 my-3">
                <div class="col-md-6">{{ form.viajes.label_tag }} {{ form.viajes }}</div>
                <div class="col-md-6">{{ form.agua_empleada_litros.label_tag }} {{ form.agua_empleada_litros }}</div>
            </div>

            <div class="my-5">
                {{ form.observaciones.label_tag }}
                {{ form.observaciones }}
            </div>
        </fieldset>

        <fieldset class="mb-4">
            <legend>Fotos del reporte</legend>
            <div class="row">
                <!-- Foto Antes -->
                <div class="col-md-6 mb-3">
                    <label for="id_foto_antes" class="form-label">Foto Antes</label>
                    <input type="file" name="foto_antes" id="id_foto_antes" class="form-control" accept="image/*" {% if not reporte.foto_antes %}required{% endif %}>
                    <div class="mt-2">
                        {% if reporte.foto_antes %}
                            <img id="preview_antes" src="{{ reporte.foto_antes.url }}" alt="Vista previa" style="max-width: 100%; height: 500px; display: block;">
                        {% else %}
                            <img id="preview_antes" src="" alt="Vista previa" style="max-width: 100%; height: 500px; display: none;">
                        {% endif %}
                    </div>
                </div>

                <!-- Foto Después -->
                <div class="col-md-6 mb-3">
                    <label for="id_foto_despues" class="form-label">Foto Después</label>
                                        <input type="file" name="foto_despues" id="id_foto_despues" class="form-control" accept="image/*" {% if not reporte.foto_despues %}required{% endif %}>

                    <div class="mt-2">
                        {% if reporte.foto_despues %}
                            <img id="preview_despues" src="{{ reporte.foto_despues.url }}" alt="Vista previa" style="max-width: 100%; height: 500px; display: block;">
                        {% else %}
                            <img id="preview_despues" src="" alt="Vista previa" style="max-width: 100%; height: 500px; display: none;">
                        {% endif %}
                    </div>
                </div>
            </div>
        </fieldset>

        <!-- Botón -->
        <div class="text-center">
            <button type="submit" class="btn btn-lg px-5" 
                    style="background-color: #831f46; color: white; font-weight: bold;">
                Guardar Reporte
            </button>
        </div>

        {% include 'btn-subir-off.html' %}
    </form>
</div>
{% endblock %}

